<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analizador Léxico</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <form method="post">
        <label for="Expresion">Expresión:</label>
        <textarea name="Expresion" id="Expresion" rows="10" cols="50">{{ expresion if expresion else '' }}</textarea>
        <br>
        <input type="submit" value="Analizar">
    </form>
    
    <div class="contenedor">
        {% if tokens %}
            <table>
                <tr>
                    <th>Token</th>
                    <th>Lexema</th>
                    <th>Línea</th>
                </tr>
                {% for Token, Lexema, Linea in tokens %}
                <tr>
                    <td>{{ Token }}</td>
                    <td>{{ Lexema }}</td>
                    <td>{{ Linea }}</td>
                </tr>
                {% endfor %}
            </table>

            <!-- Display token count -->
            <h3>Contador de Tokens:</h3>
            <table>
                <tr>
                    <th>Tipo de Token</th>
                    <th>Count</th>
                </tr>
                {% for tipo, count in contador.items() %}
                <tr>
                    <td>{{ tipo }}</td>
                    <td>{{ count }}</td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
</body>
</html>